<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script type="text/javascript" src="__ROOT__/library/kindeditor/kindeditor.js"></script>
		<script type="text/javascript">
			KindEditor.ready(function(e){
				e.create('[name=content]',{
					width:"700px",
					height:"300px",
					items:['undo','redo','|','justifyleft','justifycenter','justifyright','justifyfull','|',
					'subscript','superscript','|','fontsize','forecolor','bold','italic','underline','strikethrough','|',
					'image','table','hr','link','removeformat']
				}); 
			});
		</script>
		<title></title>
	</head>
	<body>
		<form method="post" action="__APP__/News/addnews.html" enctype="multipart/form-data">
			<table border="1" align="center" cellspacing="0">
				<tr>
					<th>文章标题:</th>
					<th><input type="text" name="title" size="50" /></th>
				</tr>
				<tr>
					<td>主队：
						<select name="teamid">
							<foreach name='teams' item='v' key='k'>
								<option value="{$v.teamId}"  <if condition="$v[teamId]==21">selected="selected"</if>>{$v.teamNameCn}</option>
							</foreach>
						</select>
						
					</td>
					<td>客队：
						<select name="teamid2">
							<foreach name='teams' item='v' key='k'>
								<option value="{$v.teamId}" <if condition="$v[teamId]==21">selected="selected"</if>>{$v.teamNameCn}</option>
							</foreach>
						</select>
						
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<textarea name="content"></textarea>
					</td>
				</tr>
				<tr>
					<td>封面图上传:</td>
					<td>
						<input type="file" name="pic" />
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="submit" value="发表文章" />
						<input type="reset" value="全部重写" />
					</td>
				</tr>
				
			</table>
			<input type="hidden" name="userid" value="{$_SESSION['mansMsg']['id']}" />
		</form>
	</body>
</html>
