<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="__ROOT__/public/css/reset.css" />
<link rel="stylesheet" href="__ROOT__/public/css/common.css" />
<link rel="stylesheet" href="__ROOT__/public/css/main.css" />
<link rel="stylesheet" href="__ROOT__/public/css/register.css" />
<script src="__ROOT__/library/jquery/jquery-3.1.1.js"></script>
<script type="text/javascript">
	$(function(){
		$('[name=username]').blur(function(){
			var username=this.value;
			$.ajax({
				type:'post',
				url:'__APP__/Register/checkname',
				data:"username="+username,
				success:function(re){
					if(re==1){
						$('#innerusn').text("已被注册");
					}else{
						$('#innerusn').text("可以使用");
					}
				}
			})
		});
		$('[name=password]').blur(function(){
			var pwd=this.value;
			if(pwd.length<6){
				$('#innerpwd').text("密码长度太短！");
				$('[name=password]').focus();
			}else{
				$('#innerpwd').text("可以使用");
			}
		});
	})
</script>
<title>注册页面</title>
</head>
<body>
	<include file="Public:header"/>
	<div class="area con">
		<div class="topleft"></div>
		<div class="topright"></div>
		<div class="btmleft"></div>
		<div class="mid">
			<form action="__APP__/Register/reg" method="post">
				<table border="1" cellspacing="0" align="center" style="width:490px;height:290px;margin:5px">
					<tr>
						<th colspan="3">账号注册</th>
					</tr>
					<tr>
						<td>用户名:</td>
						<td><input type="text" name="username" placeholder="请输入用户名"/></td>
						<td id="innerusn"></td>
					</tr>
					<tr>
						<td>密码:</td>
						<td><input type="password" name="password" placeholder="请输入密码"/></td>
						<td id="innerpwd"></td>
					</tr>
					<tr>
						<td>验证码:</td>
						<td><input type="text" name="verify" placeholder="请输入验证码"/></td>
						<td><img src="__APP__/Verify/index" onclick="reload(this)"/></td>
					</tr>
					<tr>
						<td>主队:</td>
						<td>
							<select name="hteamid">
								<foreach name="teams" item="v" key="k">
									<option value="{$v.teamId}">{$v.teamNameCn}</option>
								</foreach>
							</select>
						</td>
						<td></td>
					</tr>
					<tr>
						<td colspan="3" align="center">
							<input type="submit" value="注册账号" />
							<input type="reset" value="重置" />
						</td>
					</tr>
				</table>
				
			</form>
			
		</div>
		<div class="btmright"></div>
		
	</div>
	<include file="Public:footer"/>
</body>
</html>
