.con{
	height:800px;
}

.mid{
	float:left;
	width:500px;
	height:300px;
}
.topleft{
	float:left;
	width:750px;
	height:250px;
	background-color: #f00;
}
.topright{
	float:right;
	width:250px;
	height:550px;
	background-color: #006666;
}
.btmleft{
	float:left;
	width:250px;
	height:550px;
	background-color: #440044;
}
.btmright{
	float:right;
	width:750px;
	height:250px;
	background-color: #6FA5DB;
}